html, body { 
    background-color: gray;
}

.bsr-card{
    width: 400px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 15px;
}



.forgot-pswd { 
    color: black;
    opacity: 70%;
    font-family: 'Montserrat' , sans-serif;
    font-size: 15px;
    font-weight:500;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;

}

.google-logo { 
    width: 30px;
    height: 30px;
    position: absolute;
    left: 92px;
    top: 10px;
}

.google-text { 
    position: absolute;
    left: 130px;
    height: 20px;
    top: 15px;
    font-family: 'Montserrat' , sans-serif;
    font-size: 13px;
    
}

