{% extends 'base_html.html'%}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock %}

{% block title %}
    Anasayfa
{% endblock %}

{% block body %}
<section class="">
    <h1>Curves</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet numquam eos commodi praesentium quidem dolores ad. Vel dolorum inventore quaerat!</p>
    <div class="curve"></div>
    
</section>
<section class="bsr-primary">
    <h1>Curves</h1>
    <p>Perferendis eaque quidem qui voluptatibus? Natus rerum quibusdam placeat illum dolores, nostrum ullam, tenetur aspernatur harum ad sunt esse dolorem.</p>
    <div class="curve"></div>
</section>
<section>
    <h1>Curves</h1>
    <p>Vel, quisquam, eos doloribus illo incidunt suscipit voluptas porro cumque earum ipsam enim iure quaerat. Adipisci deleniti magni suscipit nam.</p>
    <div class="curve"></div>
</section>
<section class="bsr-primary">
    <h1>Curves</h1>
    <p>Atque obcaecati sed iste rem eligendi, cupiditate illum minima maxime nesciunt ipsa est excepturi aspernatur laudantium culpa doloribus ipsum dolorem.</p>
    <div class="curve"></div>
    
</section>
<section>
    <h1>Curves</h1>
    <p>Cum officia, consequuntur laborum quos illum aperiam esse fugiat pariatur, error cumque recusandae fuga, veniam consequatur eveniet quis maxime optio.</p>
</section>




{% endblock %}